.dev {
    display: grid;
    grid-template-columns: 50% auto;

    .keyboard {
        width: 100%;
        position: relative;
        z-index: 10;
        opacity: 0;
        left: -5%;
   }
   .development {
       //opacity: 0;
        text-transform: uppercase;
        position: relative;
        //left: 30%;
        //transform: translate(-50%, 0%);
        z-index: 5;
        width: 40vw;
        h1 {
            text-align: left;
            font-size: 5em;
        }
        p {
            text-align: left;
    }
}
}

  .keyboard.move {
    animation: leftToRight 1.5s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .devinfo.move {
    animation: leftToRightDevelopment 1.5s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    //opacity: 0;
  }
  
  .info.move {
    animation: info 1.5s ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes leftToRight {
    0% {
      opacity: 0;
      transform: translateX(-80%) rotateY(-20deg);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes leftToRightDevelopment {
    0% {
      opacity: 0;
      transform: translateX(-260%);
    }
    100% {
      opacity: 1;
    }
  }

  