.skill-cap{
  padding-top: 15px;
}
.skill-container {
    width: 100%;
    background-color: var(--darkPaper);
    border-radius: 25px;
}
  
  .skills {
    text-align: right;
    padding-top: 5px;
    //padding-bottom: 10px;
    color: white;
    height: 5px;
    border-radius: 25px;
    opacity: 0;
    background-color: var(--overcast);
  }

  //---Animations---
  .skills.move.java{
    animation: fillBarJava 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }

  @keyframes fillBarJava {
    0% {
      opacity: 0.80;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 85%;
    }
  }

  .skills.move.html{
    animation: fillBarHtml 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 3s;
  }

  @keyframes fillBarHtml {
    0% {
      opacity: 0.80;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 75%;
    }
  }

  .skills.move.js{
    animation: fillBarJs 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
  }

  @keyframes fillBarJs {
    0% {
      opacity: 0.80;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 65%;
    }
  }

  .skills.move.vue{
    animation: fillBarVue 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 4s;
  }

  @keyframes fillBarVue {
    0% {
      opacity: 0.80;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 45%;
    }
  }

  .skills.move.xd{
    animation: fillBarXd 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
  }

  @keyframes fillBarXd {
    0% {
      opacity: 0.80;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 25%;
    }
  }

  