* {
  margin: 0 !important;
//   --txt-color: #0c0c0c;
	--txt-color: #ff0000;
	--h1-text-color: #131313;
	--h4-text-color: #303030;

  /* --menuitem-bg-color: #707070; */
  --menuitem-bg-color: rgba(128, 128, 128, 0.171);
  --menuitem-bg-color-hover: rgba(128, 128, 128, 0.705);
  --icn-color: #707070;
  --topnav-height: 10vh;
  --font-fam: Helvetica;


  // colorpallet warm
  --light: #EAE7DC;
  --beige: #D8C3A5;
  --grey: #8E8D8A;
  --light-red: #E98074;
  --dark-red:#E85A4F;


  //the teal theme
  --teal-light: #CEEBFB;
  --teal-medium: #A3D6F5;
  --teal-dark: #66A7C5;
  --compli: #EE3233;
  --base: #F0ECEB;
  --grey: #6C7476;


  //desaturated
  --dusty: #96858F;
  --lavendar: #6D7993;
  --overcast: #9099A2;
  //--paper: #D5D5D5;
  --paper: rgb(241, 241, 241);
  --dark: rgb(81, 84, 88);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.center{
	position: fixed;
	width: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }